.ships__page {
    display: flex;
    flex-direction: column;
    margin-block-start: 80px;
    width: 100%;

    &-pagination {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}