.ships__page {
    display: flex;
    flex-direction: column;
    margin-block-start: 80px;
    width: 100%;
    
    &-panel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-inline: 20px;
    }

    &-pagination {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        align-items: center;
    }
}