.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-block: 16px;

    &__button {
        padding: 8px 12px;
        height: 30px;
        border: 1px solid var(--border-color);
        background-color: var(--background-color);
        color: var(--text-color);
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            box-shadow: 0 0 10px 2px var(--text-color); 
        }

        &.active {
            border: 1px solid var(--text-color);
            font-weight: bold;
        }

        &:focus {
            outline: none;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}
