.ship {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 10px 8px rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(24px);
  background-color: rgba(32, 32, 32, 0.3);
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  min-height: 165px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &__title {
    width: 100%;
    min-height: 1.5rem;
    text-transform: uppercase;
    text-align: left;
    border-bottom: 1px solid rgba(88, 86, 86, 0.35);
    font-size: 1.25rem;
    margin: 0;
    padding-block-end: 10px;
    color: var(--text-color-accent);
    margin-top: 4px;
    text-wrap: nowrap;
  }

  &__characteristic {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
    &:not(:last-child) {
      padding-block-end: 10px;
      border-bottom: 1px solid rgba(88, 86, 86, 0.35);
    }

    &-nation {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      gap: 10px;

      &_image {
        width: 10%;
      }
    }
  }

  &__image {
      width: 75%;
  }

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}
