.ship {
    flex: 0 1 calc(25% - 16px);
    box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.1);
    background: radial-gradient(ellipse at center, #6363ee, #01023d);

    &__title {
        margin: 0;
    }

    &__image {
        width: 75%;
    }
}

.characteristic-popup {
  position: fixed; /* Фиксируем относительно окна */
  display: flex;
  pointer-events: none; /* Отключаем возможность взаимодействия */
  z-index: 1000;
  width: 100px;
  height: 500px;
  background-color: rgba(0, 0, 17, 0.3);
}

@media (max-width: 1200px) {
    .ship {
      flex: 0 1 calc(33.33% - 16px);
    }
  }
  
  @media (max-width: 900px) {
    .ship {
      flex: 0 1 calc(50% - 16px);
    }
  }
  
  @media (max-width: 600px) {
    .ship {
      flex: 0 1 100%;
    }
  }