.ship {
  box-shadow: 0 0 4px 8px rgba(0, 0, 0, 0.1);
  background: radial-gradient(ellipse at center, #6363ee, #01023d);
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &__title {
    text-transform: uppercase;
    font-size: 1.25rem;
    margin: 0;
  }

  &__image {
      width: 75%;
  }

  &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}
