:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --background-color-light: #ffffff;
  --background-color-dark: #121212;
  --text-color-light: #ca1b1b;
  --text-color-dark: #ffffff;
  --border-color-light: #e5e5e5;
  --border-color-dark: #424242;

  --toggle-background-light: #87ceeb;
  --toggle-background-dark: #1a237e;
  --toggle-thumb-light: #ffd700;
  --toggle-thumb-dark: #feffc3;
  --toggle-thumb-shadow-light: 0 0 8px 2px rgba(255, 215, 0, 0.7); 
  --transition-time: 0.3s;
}

body {
  background-color: var(--background-color-light);
  background-image: url(../src/assets/back-light.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text-color-light);
  transition: background-color var(--transition-time), color var(--transition-time);
  margin: 0;
}

body.dark-theme {
  background-color: var(--background-color-dark);
  background-image: url(../src/assets/back-dark.jpg);
  color: var(--text-color-dark);
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--secondary-color);
  }
}

button {
  background-color: var(--primary-color);
  color: var(--background-color-light);
  border: 1px solid var(--border-color-light);
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color var(--transition-time) ease, color var(--transition-time) ease;

  &:hover {
    background-color: var(--secondary-color);
  }

  &:focus {
    outline: 2px solid var(--primary-color);
    outline-offset: 2px;
  }

  &:active {
    transform: scale(0.98);
  }
}

::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скроллбара */
  height: 12px; /* Высота горизонтального скроллбара */
}

::-webkit-scrollbar-thumb {
  background: rgb(128, 126, 126);
  border: 2px solid transparent;
  height: 10vh;
  background-clip: content-box;
  position: relative;
}

::-webkit-scrollbar-track {
  background: rgb(15, 2, 39); /* Цвет фона скроллбара */
}